foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="71615896-1fb3-450b-bd2b-f8a4cd0b74fa" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="foreachFlow" doc:id="6860a880-71cb-447c-8c5d-d828ba38b959" >
		<http:listener doc:name="Listener" doc:id="d177d170-b6cd-402b-a13a-44abcc118a24" config-ref="HTTP_Listener_config" path="foreach"/>
		<ee:transform doc:name="Transform Message" doc:id="70082b12-eb33-447e-9697-6e6af047bb25" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 100 map
{
  "id" : 200+$$,
  "name": "pal",
  "number": 35265453,
  "lname": "ktp"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="ed4cd4a3-a91d-4b73-9e9f-8572aa9e1033" >
			<logger level="INFO" doc:name="Logger" doc:id="41939e8d-439d-4728-ab82-447bed93fe3c" message="#[payload]" />
		</foreach>
	</flow>
</mule>
